body {
	text-align: center;
}

h1 {
	font-weight: 400;
	font-size: 45px;
}

p {
	font-family: 'Droid Serif', serif;
}

a {
	color: #FFFFFF; /*Used to be this color: orange:#F15B31 */
	margin: 0 20px 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-bottom: 2px solid white;
}

h2 {
	font-size: 20px;
}

img {
	margin: 40px 8px 0 8px;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

main {
	max-width: 850px;
	margin: 35px auto;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0 20px 0;
}

footer {
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em
	font-weight: 500;
}

a, h1, h2 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

a, h2 {
	font-weight: 600;
}
/*This is commented out so the header color will show
h1, h2 {
	color: #0D2C40;
}
*/
body, h1 {
	margin: 0;
}

a, .instructions {
	font-size: 18px;
}

.instructions {
	line-height: 26px;
}

.copyright {
	font-family: 'Raleway', sans-serif;
	float: left;
}

.message {
	font-family: 'Raleway', sans-serif;
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
  
